# Ignore node_modules in backend and frontend
#backend/node_modules/
#frontend/node_modules/
#/node_modules
*node_modules
# Ignore environment files (API keys, database credentials, etc.)
# backend/.env
# frontend/.env

# Ignore build files
frontend/build/

# Ignore logs
*.log
logs/
backend/logs/
frontend/logs/

# Ignore cache and temporary files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

