.typed-out {
    border-right: none; 
    width: auto; 
    animation: none;
  }
  
  /* Apply animation only on desktop */
  @media screen and (min-width: 768px) {
    .typed-out {
      border-right: .15em solid rgba(255, 166, 0, 0.76);
      animation: typing 4s steps(10) infinite;
      overflow: hidden;
      white-space: nowrap;
    }
  
    @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
    }
  }

  .featured-1 {
    padding: 80px 0;
    background: #f1f2f3;
    font-family: Crimson;
}
.align-self-center {
    align-self: center !important;
}

.featured-1 h2 {
    font-size: 50px;
    font-weight: 900;
}
.featured-1 h2 span {
    color: #5869da;
}
.featured-1 h3 {
    font-size: 42px;
    font-weight: 900;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.text-muted, .text-muted a {
    color: #687385 !important;
}
.form-subcriber input.form-control {
    padding: 16px 25px;
    line-height: 24px;
    border-radius: 30px 0 0 30px;
    max-width: 300px;
    font-size: .875rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.form-subcriber .btn {
    font-size: 14px;
    border-radius: 0 30px 30px 0;
    padding: 0 25px;
}
.btn {
    font-weight: 700;
}
.bg-primary {
    background-color: #5869da !important;
}